<!-- Loop over each object in the posts array -->
{{#each posts as |post| }}
 <div class="flex-column justify-space-around post">
  <div class="display-flex justify-space-between align-center title">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      <a href="/post/{{post.id}}">{{post.title}}</a>
    </h2>  
    <p>Created by {{post.user.name}} on {{format_date post.date_created}}</p>
  </div>
  <div>
    <p>
      {{post.description}}
    </p>
  </div>
</div>
{{/each}}
